body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6f59edee;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

.audio-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.audio-item {
    background: white;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

audio {
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
